doctype html
html(lang="ru-RU")
  include common/_head
  body
    include common/_mixin
    include common/_hide-menu
    include common/_preloader
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

  #main-about
    include common/_mainhead

    section.about-skill
      .container
        .container__left.container__about
          .about__skill__title
            //- .about__skill__title 
            +use('about_header','svg-about_header-dims','svg_title')
            .content__title_big Обо мне
          .img-container
            img.about-me-left-image(src="../../assets/img/myphoto.jpg", alt="Алексей")
          h1.about-skill-myself Кто я
          p.about-skill-myself-description Я начинающий веб разработчик из Санкт-Петербурга. Мне 36 лет. Я учусь на курсах Loftblog. Создаю этот сайтв в рамках проекта. Это первый проект сайта портфолио.
        .container__right.container__about
          h1.about-skill-h1 Чем я могу быть <br> вам полезен
          p.about-skill-myself-description Больше всего меня привлекает FRONTEND разработка, но я так же знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
          .about-skill__icons
            h5.about-skill__title Frontend
            ul.about-skill__items
              li.about-skill__item
                +svg-circle('circle', 'HTML5', 200)
              li.about-skill__item
                +svg-circle('circle', 'CSS3', 190)
              li.about-skill__item
                +svg-circle('circle', 'JavaScript&jQuery', 100)
          .about-skill__icons
            h5.about-skill__title Backend
            ul.about-skill__items
              li.about-skill__item
                +svg-circle('circle', 'PHP', 50)
              li.about-skill__item
                +svg-circle('circle', 'mySQL', 50)
              li.about-skill__item
                +svg-circle('circle', 'Node.js&npm', 100)
              li.about-skill__item
                +svg-circle('circle', 'Mongo.db', 50)
          .about-skill__icons
            h5.about-skill__title WorkFlow
            ul.about-skill__items
              li.about-skill__item
                +svg-circle('circle', 'Git', 150)
              li.about-skill__item
                +svg-circle('circle', 'Gulp', 150)
              li.about-skill__item
                +svg-circle('circle', 'Bower', 100)
           
    section.contacts
      #contacts__map.contacts__map
          script.
            function initMap() {
              var 
                mapDiv = document.getElementById('contacts__map'),
                isDraggable;

                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                  isDraggable = false;
                } else {
                  isDraggable = true;
                }
              
              var mapOptions = {
                center: {
                  lat: 59.8939796, 
                  lng: 30.3195711
                },
                zoom: 10,
                disableDefaultUI: true,
                scrollwheel: false,
                draggable: isDraggable,
                styles: 
                [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"geometry.fill","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"labels.text.fill","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"labels.text.stroke","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.sports_complex","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit.station","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#2bd3b7"},{"visibility":"simplified"}]}]
              }


              var map = new google.maps.Map(mapDiv, mapOptions);

            };
          <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
      .contacts-info
        .contacts-info__header Контакты
        ul.contacts__nav-items
               li.contacts__nav-item
                 span.contacts__nav-icon
                  +use('skype', 'svg-skype-dims')
                 span.contacts__nav-text
                   a.contacts__nav-link(href="skype:masnoyalexey1") skype
               li.contacts__nav-item
                 span.contacts__nav-icon
                  +use('envelope', 'svg-envelope-dims')
                 span.contacts__nav-text
                   a.contacts__nav-link(href="mailto:masnoy0alexey@gmail.com") masnoy0alexey@gmal.com
               li.contacts__nav-item
                 span.contacts__nav-icon
                  +use('phone', 'svg-phone-dims')
                 span.contacts__nav-text
                   a.contacts__nav-link(href="+79111915954") +79111915954
               li.contacts__nav-item
                 span.contacts__nav-icon
                  +use('map_marker', 'svg-map_marker-dims')
                 span.contacts__nav-text г.Санкт-Петербург   
                  
        //- +contacts-nav('contacts__nav', {'skype':'svg-skype-dims', 'envelope':'svg-envelope-dims', 'skype':'svg-skype-dims', 'skype':'svg-skype-dims'}, {'Skype':'skype:my_skype', 'masnoy0alexey@gmal.com':'mailto:masnoy0alexey@gmail.com', '+79111915954':'+89111915954', 'г.Санкт-Петербург, Авангардная 47':'adress'})

          
  include common/_footer-2

include common/_scripts