doctype html
html(lang="ru-RU")
  include common/_head
  body
    include common/_mixin
    include common/_hide-menu
    include common/_preloader
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

  #main-about
    include common/_mainhead

    section.about-skill
      .container
        .container__left.container__about
          .about__skill__title
            //- .about__skill__title 
            +use('about_header','svg-about_header-dims','svg_title')
            .content__title_big Обо мне
          .img-container
            img.about-me-left-image(src="../../assets/img/myphoto.jpg", alt="Алексей")
          h1.about-skill-myself Кто я
          p.about-skill-myself-description Я начинающий веб разработчик из Санкт-Петербурга. Мне 36 лет. Я учусь на курсах Loftblog. Создаю этот сайтв в рамках проекта. Это первый проект сайта портфолио.
        .container__right.container__about
          h1.about-skill-h1 Чем я могу быть <br> вам полезен
          p.about-skill-myself-description Больше всего меня привлекает FRONTEND разработка, но я так же знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
          .about-skill__icons
            h5.about-skill__title Frontend
            ul.about-skill__items
              li.about-skill__item
                +svg-circle('circle', 'HTML5', 226)
              li.about-skill__item
                +svg-circle('circle', 'CSS3', 200)
              li.about-skill__item
                +svg-circle('circle', 'JavaScript&jQuery', 100)
          .about-skill__icons
            h5.about-skill__title Backend
            ul.about-skill__items
              li.about-skill__item
                +svg-circle('circle', 'PHP', 50)
              li.about-skill__item
                +svg-circle('circle', 'mySQL', 50)
              li.about-skill__item
                +svg-circle('circle', 'Node.js&npm', 100)
              li.about-skill__item
                +svg-circle('circle', 'Mongo.db', 50)
          .about-skill__icons
            h5.about-skill__title WorkFlow
            ul.about-skill__items
              li.about-skill__item
                +svg-circle('circle', 'Git', 150)
              li.about-skill__item
                +svg-circle('circle', 'Gulp', 150)
              li.about-skill__item
                +svg-circle('circle', 'Bower', 100)
           
    section.contacts
      .contacts__container
        .contacts-info
          h1.contacts-info__header Контакты
          +nav('contacts__nav', {'Skype':'skype:my_skype', 'masnoy0alexey@gmal.com':'mailto:masnoy0alexey@gmail.com', '+79111915954':'+89111915954', 'г.Санкт-Петербург, Авангардная 47':'adress'})
        .contacts__map
          
  include common/_footer-2