doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
  include common/_mixin

  #main-work 
    section.head__section
      include common/_header
      .selfbox-head-about 
        .selfbox-head-img-container
          img.selfbox-head-img(src="../../assets/img/myphoto.jpg", alt="Алексей")
        .selfbox-head-text
           h1.selfbox-h1 Алексей Масной
           h4.selfbox-p Личный сайт веб разработчика
        .tell-about-me__arrow-down
          +use()
    section.work
      h1.work__title Мои работы
      .container
        .tell-about-me__container__left
          h2.container__left-title Сайт школы онлайн образования
          .container__left-techbox
            h4.container__left-techbox-title html, css, javascript
          a(href="http://loftschool.ru").container__left-link Посмотреть сайт
        .tell-about-me__container__right
          .container__right-works 
            img(src="../../assets/img/works.jpg", alt="Мои работы")
          .container__right-slides
            .container__right-slide_1 
              img(src="../../assets/img/mockup-1.jpg", alt="Мои работы")
            .container__right-slide_2
              img(src="../../assets/img/mockup-2.jpg", alt="Мои работы")
    section.tell-about-me 
      h1.tell-about-me__title Что обо мне <br>говорят
      .container
        .container__left
          p.tell-about-me__comment Этот парень проходил обучение веб-разработке не где-то а в LoftSchool. 2 меяца только самых тяжелых испытаний и бессонных ночей!
          .tell-about-me__autor
            .about-me__autor__container
              img.about-me__autor__container-image(src="../../assets/img/Kovalchuk.jpg", alt="Дмитрий")
            .about-me__autor__description
              h1.about-me__autor__description-title Дмитрий Ковальчук
              h1.about-me__autor__description-text основатель Loftschool


        .container__right
          p.tell-about-me__comment Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах! 
          .tell-about-me__autor
            .about-me__autor__container
              img.about-me__autor__container-image(src="../../assets/img/Zaharov.jpg", alt="Зар")
            .about-me__autor__description
              h1.about-me__autor__description-title Зар Захаров
              h1.about-me__autor__description-text главный преподаватель
      .tell-about-me__find-me
        form.login-form-man
          input(type="text", placeholder="Имя").login-input-log
          input(type="text", placeholder="Email").login-input-pas
          input(type="text", placeholder="Ваше сообщение").login-input-pas
          button.tell-about-me__send Отправить
          button.tell-about-me__clear Очистить
      .tell-about-me__arrow-up


  include common/_footer-2