/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body {
	height: 100%;
}

html {
  min-width: 320px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/*-------- variables --------*/

$grey: #455a64;
$green: rgba(0, 191, 165, 1);

%main-container {
  position: relative;
  width: auto;
  min-height: 100%;
  &:after {
    content: '';
    display: block;
  }
}

%footer {
  
}

%selfbox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 400px;
  margin-top: -190px;
  margin-left: -200px; 
  background-color: rgba(255, 255, 255, 0.8s);
  border-radius: 7px;
  overflow: hidden;
}

%box-nav {
    width: 380px;
    .selfbox-nav-items {
      
      .selfbox-nav-item {
        display: inline-block;
        border-right: 2px solid #73cac3;
        margin-right: -5px;
        &:last-child {
          border: none;
        }

        .selfbox-nav-link {
          background: rgba(38, 201, 178, 0.6);
          display: block;
          padding: 0 32px;
          line-height: 45px;
          text-align: center;
          height: 45px;
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          font-family: 'Roboto-Medium', Arial, sans-serif;
          &:hover {
            background: rgba(38, 166, 154, 0.8);

          }
        }
      }
    }
}

%selfbox-head {
    margin-bottom: 18px;
    position: relative;
    .selfbox-head-img-container {
    	clear: both;
      margin: 0 auto;
      margin-bottom: 25px;
      width: 140px;
      height: 140px;
      // margin-top: 40px;
      overflow: hidden;
      border-radius: 50%;
      .selfbox-head-img {
        height: 100%;
      }
    }
    .selfbox-head-text {
      text-align: center;
      .selfbox-h1 {
        margin: 0px;
        margin-bottom: 8px; 
        font-family: 'Roboto-Medium', Arial, sans-serif;
      }
      .selfbox-p {
        font-size: 16px;
        margin-bottom: 30px;
        font-family: 'Roboto-Light', Arial, sans-serif;
      }
   }
 }

 %h1 {
  position: relative;
  font-family: 'BernierRegular', Arial, sans-serif;
  font-size: 35px;
  text-align: center;
  color: #373e42;

  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #c2d2d0;
    left: 2rem;
    top: 50%;
    display: inline-block;
  }
  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #c2d2d0;
    right: 2rem;
    top: 50%;
    display: inline-block;
  }
    .bg-icon {
    position: absolute;
  }
 }

%roboto-regular-16 {
  font-size: 16px;
  font-family: 'Roboto-Regilar', Arial, sans-serif;
 }

%roboto-bold-16 {
  font-size: 16px;
  font-family: 'Roboto-Bold', Arial, sans-serif;
 }

 %roboto-medium-16 {
  font-size: 16px;
  font-family: 'Roboto-Medium', Arial, sans-serif;
 }

%bernier-regular-30 {
  font-family: 'BernierRegular', Arial, sans-serif;
  font-size: 30px;
}

%bernier-regular-35 {
  font-family: 'BernierRegular', Arial, sans-serif;
  font-size: 30px;
  color: #455a64;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



@import 'common/mixin';
@import 'common/fonts';
@import 'common/sprite';
@import 'common/media';
@import 'common/hide-menu';
@import 'common/header';
@import 'common/footer-2';
@import 'common/welcome';
@import 'common/work';
@import 'common/about';
@import 'common/blog';
@import 'common/login';