header.header
  ul.header__items
    li.header__item
      a.header__link(href="")
        .social__icon
          +use("vk","svg-vk-dims")
    li.header__item
      a.header__link(href="")
        .social__icon
          +use("github","svg-github-dims")
    li.header__item
      a.header__link(href="")
        .social__icon
           +use("in","svg-in-dims")
  .hide-menu__hamburger
    span.hide-menu__span
    span.hide-menu__span
    span.hide-menu__span
    
