.hide-menu-wrapper
  .hide-menu__icon-close
    +use("hamburger","svg-hamburger-dims")
  .hide-menu 
    ul.hide-menu__items
      li.hide-menu__item
        a(href="work.html").hide-menu__link Мои работы
      li.hide-menu__item
        a(href="blog.html").hide-menu__link Блог
      li.hide-menu__item
        a(href="about.html").hide-menu__link Обо мне
      li.hide-menu__item
        a(href="index.html").hide-menu__link Авторизация
