//
// Параллакс 3D
//

- var images = ['layer-10.png','layer-9.png','layer-8.png','layer-7.png','layer-6.png','layer-5.png','layer-4.png','layer-3.png','layer-2.png','layer-1.png']

.parallax3d
  - for (var i = 0; i < images.length; i++)
    .parallax__layer
      img(src="/assets/img/#{images[i]}", alt="")