.main-about {
	@extend %main-container;
	min-height: 100%;
	margin-bottom: -150px;
	background: url("/assets/img/photo-bg2.jpg") top center no-repeat;
}

footer.footer-about {
	@extend %footer;
	height: 150px;
	background-color: #555b5e;
	opacity: 0.9;
}

.about-head-section {
  height: 790px;
	.header-about {
  	height: 90px;
  	padding: 30px;
  	.header-about-items {
  		float: left;
  		.header-about-item {
  			margin-left: 20px;
  			display: inline-block;
        .header-about-link {
          .social-icon {
            fill: #c2d6d6;
            &:hover {
              fill: #fff;
            }
          }
        }
  		}
  	}
  	.nav { 
  		float: right;
  		.nav-link {
  			display: block;
  		}
  	}
  } 
  .selfbox-head-about {
     @extend %selfbox-head;
     .selfbox-head-text {
        .selfbox-h1 { 
          font-size: 28px;
          color: #fff;
        }
        .selfbox-p {
          color: #fff;
        }
      }
    }
 }


.about-me-left {
  position: relative;
	clear: both;
  margin-top: -300px;
	float: left;
	width: 50%;
	.about-me-left-h1 {
    margin-top: 125px;
		font-size: 63px;
	}
}