
// Mian-block

#main-about {
	@extend %main-container;
  position: relative;
	margin-bottom: -150px;
  &:after {
    height: 150px;
  }
}

// Footer

// Header

.head__section {
  height: 600px;
  background: url("/assets/img/photo-bg2.jpg") top center no-repeat;
 }

.selfbox-head-about {
    @extend %selfbox-head;
    .selfbox-head-text {
      .selfbox-h1 { 
        font-size: 35px;
        color: #fff;
        }
      .selfbox-p {
        font-size: 16px;
        color: #fff;
     }
  }
}

.about-skill {
  height: 960px;
  .container {
    &__left {
      position: relative;
    	float: left;
    	width: 50%;
    	.about-skill-h1 {
        @extend %h1;
    		font-size: 63px;
        margin-bottom: 55px;
        @include titles-dashes(330px);
	}
  .img-container {
    margin: 0 80px;
      img {
        width: 100%;
      }
  }
  .about-skill-myself {
      @extend %h1;
      font-size: 35px;
      margin: 40px auto;
      @include titles-dashes(270px);

      &-description {
      @extend %roboto-regular-16;
      margin: 0 80px;
    }
  }
}

    &__right {
      position: relative;
      // margin-top: -300px;
      float: right;
      width: 50%;
      .about-skill-h1 {
        @extend %h1;
        font-size: 35px;
        margin-bottom: 40px;
        @include titles-dashes(340px);
  }
  .about-skill-myself-description {
    @extend %roboto-regular-16;
    margin: 0 37px;
  }
}
}
}

.contacts {
  &__container {
    height: 970px;
    background: url("/assets/img/map.jpg") top center no-repeat;
    position: relative;
    .contacts-info {
      @extend %selfbox;
        &__header {
          @extend %h1;
          position: relative;
          margin: 33px auto;
          @include titles-dashes(270px);
        }
    }
  }
}