
$col: 100% / 12;

.head__section__blog {
  height: 400px;
  background: url("/assets/img/photo-bg2.jpg") top center no-repeat;
  background-size: cover;
}

.blog {
    &__selfbox-head {
    @extend %selfbox-head;
    }
    &__selfbox-h1 {
      @extend %h1;
      font-size: 63px;
      color: #fff;
      // @include titles-dashes();
      margin-bottom: 5px;
      margin: 0 auto;
      width: 300px;
    }
    &__selfbox-p {
      @extend %roboto-regular-16;
      color: #fff;
    }
}
.blog-content {
  @extend %clearfix;
  margin-top: 70px;
}

.blog-aside:after {
  @include tablet {
    display: block;
    position: absolute;
    z-index: 1;
    content: '';
    top: 45%;
    left: -$col*3;
    background-color: #00bfa5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2)
    }
}

.blog-slide {
  transform: translate(0, 0);
}

.blog-aside {
  @extend %clearfix;
  float: left;
  width: $col*3;
  position: relative;
  margin-left: 45px;
  @include tablet {
    margin-left: 0;
    position: fixed;
    left: -$col*3;
    height: 100%;
    }
  &.active {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 284px;
    background-color: #00bfa5;
    text-align: right;
    padding-top: 0;
    transform: translate(-284px, 0);
    }
  }
  &__item {
    position: relative;
    display: block;
    text-align: right;
    vertical-align: middle; 
  }
  &__link {
  display: block;
  text-decoration: none;
  font-family: 'Roboto-Bold', Arial, sans-serif;
  font-size: 16px;
  color: $grey;
  line-height: 1.5;
  padding: 15px; 
  @include tablet {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.135rem;
    line-height: 1.9rem;
    }
  }
  &__active {
  color: #00bfa5;
  border-right: 3px solid #00bfa5;
  margin-right: -3px;
  @include tablet {
    color: #fff;
    border-right: none;
    margin-right: 0;
    }
  }
}



.blog_container {
  float: right;
  width: $col * 7;
  position: relative;
  margin-right: $col;
}

.container__post {
  padding-bottom: 70px;
  border-bottom: 5px solid #f1f1f2;
  padding-top: 70px;
  transition: 3s;
  &:first-child {
    padding-top: 0;
  }
}


.post {
  &__title {
  @extend %bernier-regular-35;
  margin-bottom: 28px;
  }
  &__time {
    display: block;
    @extend %roboto-regular-16;
    color: #4cd2c0;
    margin-bottom: 28px;
  }
  &__content {
    padding-bottom: 70px;
    color: $grey;
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
    line-height: 1.5;
  }
  &__img {
    
  }
}

