@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/roboto-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regilar';
  src: url('../fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/roboto-light.ttf') format('truetype');
}

@font-face {
  font-family: 'BernierRegular';
  src: url('../fonts/BERNIERRegular-Regular.otf');
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.otf');
}