/* 
 *  Большой Футер 
 */

.footer-2 {
	height: 150px;
	background-color: $footer2-bg-color;
	opacity: 0.85;
  font-family: 'Roboto-Light', Arial, sans-serif;
  font-size: 1rem;
  @include tablet {
      width: 100%;
      height: 15rem;
      margin-top: -14.375rem;
    }
  @include phone {
      width: 100%;
      height: 16.8rem;
      font-size: 0.8rem;
  }
}

.footer-2__navigation {
  height: 74px;
  border-bottom: 1px solid #666c6e;
  @include tablet {
    height: 7.5rem;
  }
  @include phone {
    height: 8.4rem
  }
}

.footer-2__nav {
  &-item {
  display: inline-block;
  margin-right: 2.5rem;
  @include phone {
    margin-right: 0.5rem;
  }
  &:last-child {
    margin-right: 0;
  }
}
  &-link { 
    display: block;
    padding-top: 30%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
      &:hover {
        color:  $footer2-text-color;
      }
  }
  @include tablet {
      width: 100%;
      text-align: center;
    }
}

.footer-2__nav__right {
  float: right;
  margin-right: 30px;
  @include tablet {
      width: 100%;
      float: none;
      line-height: 1;
      margin-right: 0;
    }
  @include phone {
      text-align: center;
      width: 100%;
      float: none;
      line-height: 1;
      margin-right: 0;
    }
}

.footer-2 {
  &__social-item {
  display: inline-block;
  margin-left: 10px;
    &:first-child {
      margin-left: 0px;
    }
  @include phone {
    padding-top: 1rem;
  }
  }
  &__social-icon {
    fill: $footer2-bg-color;
    // opacity: 0.1;
    stroke: $footer2-text-color;
    & svg {
      width: 2.2rem;
    }
    &:hover {
      fill: #fff;
    }
  }
  @include tablet {
      width: 100%;
      text-align: center;
    }
}



.footer-2__nav__left {
  float: left;
  padding-left: 2rem;
  @include tablet {
      width: 100%;
      float: none;
      line-height: 1rem;
      padding-left: 0;
    }
  @include phone {
    text-align: center;
      width: 100%;
      float: none;
      line-height: 1rem;
      padding-left: 0;
      padding-top: 0.5rem;
    }
}

.footer-2__copyright {
  padding-top: 1rem;
  display: table;
  width: 100%;
  @include phone {
    height: 8.4rem;
  }
}

.copyright {
    height: 75px;
    
    &__info {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: left;
    line-height: 1.6rem;
    padding-left: 2rem;
    padding-right: 1.6rem;
    color: $footer2-text-color;
    @include tablet {
      width: 100%;
      display: block;
      text-align: center;
      padding-left: 0.85rem;
      padding-right: 0.85rem;
    }
    @include phone {
      width: 100%;
      display: block;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
    &__about {
    display: table-cell;
    padding-top: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 2rem;
    line-height: 1.6rem;
    text-align: center;
    color: $footer2-text-color;
    @include tablet {
      width: 100%;
      display: block;
      text-align: center;
      padding-left: 0.85rem;
      padding-right: 0.85rem;
    }
    @include phone {
      width: 100%;
      display: block;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    }
}