.header {
  position: relative;
  height: 35px;
  	padding: 30px;
  	&__items {
		float: left;
    text-align: center;
    align-items: center;
  	}
  	&__item {
		margin-left: 20px;
  	display: inline-block;
    
  	}
  	&__link {

  	}
  	.social__icon {
      fill: #c2d6d6;
       &:hover {
        fill: #fff;
        }
  	}
    .nav {
      float: right;
      .nav__link {
        display: block;
        .manu__icon {

        }
      }
    }
}
