.overfow-hidden {
  overflow: hidden;
}

.hide-menu-wrapper {
  position: absolute;
  z-index: 100;
  display: none; 
}

.show {
   display: block; 
}
  

.hide-menu {
  display: block;
  z-index: 300;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-color: rgba(0, 191, 165, 0.85);
  &__hamburger {
    z-index: 200;
    float: right;
    width: 2.5rem;
    height: 2.3rem;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
        &:hover {
      color: #fff;
    }
    &.open {
      .hide-menu__span:nth-child(1) {
        transform: rotate(-45deg);
        top: 29px;
        left: 8px;
        background-color: #fff;
      }
      .hide-menu__span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      .hide-menu__span:nth-child(3) {
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
        background-color: #fff;
      }
    } 
  }
  &__span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #c2d6d6;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 15px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 30px;
      transform-origin: left center;
    }
    @include tablet {
      height: 3px;
    }
  }

  &__items {
    margin-top: 150px;
    text-align: center;
    text-decoration: none;

  }
  &__item {
    @extend %h1;
    padding: 25px;
    width: 300px;
    margin: 0 auto;
  }
  &__link {
    text-decoration: none;
    color: #fff;
  }
}