$phoneS-width: 320px;
$phoneM-width: 426px;
$tablet-width: 769px;
$laptop-width: 1025px;
$desktop-width: 1200px;

@mixin phone {
  @media (min-width: #{$phoneS-width}) and (max-width: #{$phoneM-width - 1px}){
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phoneM-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}