.parallax3d {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer {
  position: absolute;
  width: 2000px;
  height: 100%;
  left: 50%;
  margin-left: -1000px;
  bottom: 0;
  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
  }
}