.preloader__body {
    position: fixed;
    z-index: 100;
    background-color: #1bc1a9;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.preloader__image {
    width: 144px;
    height: 144px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.preloader__circle1 {
	stroke-dasharray: 140px 1000px;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.75, 0.1, 0.75, 1);

}
.preloader__circle2 {
    stroke-dasharray: 100px 1000px;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1);
}
.preloader__circle3 {
    stroke-dasharray: 80px 1000px;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

circle {
    animation-name: rotate;
    
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.preloader__value {
    text-align: center;
    line-height: 144px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: "ArialMT";
    font-size: 24px;
}