$nav-btn-color: #26c9b2; // цвет кнопок навигации
$grey: #455a64; // серый
$green: rgba(0, 191, 165, 1); // зеленый
$footer2-bg-color: #373e42;  // цвет Background футера
$footer2-text-color: #aaadaf; // цвет текста футкра
$light-yellow: #edebdf; // 1 цвет секции на странице Обо мне
$light-grey: #efeee9; // 2 цвет секции на странице Обо мне