#main-welcome {
  @extend %main-container;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -75px;
  background: url("/assets/img/photo-bg.jpg") top center no-repeat;
  &:after {
    height: 75px;
  }
}

  .login-box {
    position: relative;
    width: 180px;
    height: 45px;
    float: right;
    margin: 24px;
    a.login {
      display: block; 
      height: auto;
      width: auto;      border-radius: 7px;
      border: 2px solid #fff;
      position: relative;
      text-decoration: none;
      color: #fff;
      text-align: center;
      line-height: 45px;
      font-family: 'Roboto-Medium', Arial, sans-serif;
      font-size: 16px;
      &:hover{
        color: #00bfa5;
        background-color: #fff;
      }
    }
  }

// Флипп

.welcome__card {
    width: 380px;
    height: 400px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    perspective: 1000px;
}

.flipper {
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-container.flip .flipper {
  transform: rotateY(-180deg);
}

.flip-container {
  perspective: 1000px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8s);
  border-radius: 7px;
  overflow: hidden;
}

// Лицевая сторона флипа

.selfbox {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  transition: 0.9s;  // скорость анимации
  backface-visibility: hidden; // при развороте скрываем заднюю сторону
  // transform-style: preserve-3d; //  создаем трехмерное пространство
  
  .selfbox-head {
    margin-bottom: 39px;
    position: relative;
    .selfbox-head-img-container {
      margin: 0 auto;
      margin-bottom: 25px;
      width: 140px;
      height: 140px;
      margin-top: 40px;
      overflow: hidden;
      border-radius: 50%;
      .selfbox-head-img {
        height: 100%;
      }
    }
    .selfbox-head-text {
      text-align: center;
      margin-bottom: 15px;
      .selfbox-h1 {
        margin: 0px;
        margin-bottom: 8px; 
        font-size: 28px;
        color: #455a64;
        font-family: 'Roboto-Medium', Arial, sans-serif;
      }
      .selfbox-p {
        font-size: 16px;
        color: #455a64;
        margin-bottom: 30px;
        font-family: 'Roboto-Regilar', Arial, sans-serif;
      }
    }
  }
  .selfbox-body {
    margin-bottom: 35px;
    text-align: center;
    .socials {
      margin-bottom: 27px;
      .social-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        .social-link { 

          .social-icon {
            fill: #73d4c9;
            &:hover {
              fill: #00bfa5;
            }
          }
        }
      }
    }
  }



  .selfbox-nav {
    width: 380px;
    .selfbox-nav-items {
      
      .selfbox-nav-item {
        
        display: inline-block;
        border-right: 2px solid #73cac3;
        margin-right: -5px;
        &:last-child {
          border: none;
        }

        .selfbox-nav-link {
          background: rgba(9, 176, 157, 0.6);
          display: block;
          padding: 0 32px;
          line-height: 45px;
          height: 45px;
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          font-family: 'Roboto-Medium', Arial, sans-serif;
          &:hover {
            background: #26a69a;
          }
        }
      }
    }
    
  }
}

// Задняя сторона флипа

.box {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
    transition: 0.9s;  // скорость анимации
    backface-visibility: hidden; // при развороте скрываем заднюю сторону
    // transform-style: preserve-3d; //  создаем трехмерное пространство
      .selfbox-login {
        .selfbox-login-text {
          @extend %h1;
          margin: 35px 0;
          }
          .login-form-man {
            margin: 0 30px;
            width: 300px;

            .login-input-log, .login-input-pas {
              width: 100%;
              height: 35px;
              padding-left: 15px;
              margin-bottom: 20px;
              background-color: #fff;
              &::before {
                content: 'rgfg';
                width: 35px;
                height: auto;
                background-color: red;
              }
            }
          }
        
        .login-form-human {
          text-align: center;
          margin-bottom: 20px;
            .span-text {
              font-family: 'Roboto-Regilar', Arial, sans-serif;
              font-size: 16px;
            }
          }
        .login-form-text {
          text-align: center;
          font-family: 'Roboto-Regilar', Arial, sans-serif;
          font-size: 16px;
          margin-bottom: 15px;
          }
        .login-input-not {
          text-align: center;
          margin-bottom: 45px;
        }
      }
      .selfbox-nav {
        @extend %box-nav;
         .selfbox-nav-item {
          width: 50%;
         } 
      }

  }

.footer-1 {
  height: 75px;
  position: relative;
  .copyright {
    color: #fff;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
    font-family: 'Roboto-Light', Arial, sans-serif;
  }
}

