body {
  height: 100%;
}

#main-welcome {
  @extend %main-container;
  height: 700px;
  margin-bottom: -75px;
  background: url("/assets/img/photo-bg.jpg") top center no-repeat;
  &::after {
    content: '';
    display: block;
  }
}

  .login-box {
    position: relative;
    width: 180px;
    height: 45px;
    float: right;
    margin: 24px;
    a.login {
      display: block; 
      height: auto;
      width: auto;      border-radius: 7px;
      border: 2px solid #fff;
      position: relative;
      text-decoration: none;
      color: #fff;
      text-align: center;
      line-height: 45px;
      font-family: 'Roboto-Medium', Arial, sans-serif;
      font-size: 16px;
      &:hover{
        color: #00bfa5;
        background-color: #fff;
      }
    }
  }
.selfbox {
 @extend %selfbox;
  
  .selfbox-head {
    margin-bottom: 39px;
    position: relative;
    .selfbox-head-img-container {
      margin: 0 auto;
      margin-bottom: 25px;
      width: 140px;
      height: 140px;
      margin-top: 40px;
      overflow: hidden;
      border-radius: 50%;
      .selfbox-head-img {
        height: 100%;
      }
    }
    .selfbox-head-text {
      text-align: center;
      margin-bottom: 15px;
      .selfbox-h1 {
        margin: 0px;
        margin-bottom: 8px; 
        font-size: 28px;
        color: #455a64;
        font-family: 'Roboto-Medium', Arial, sans-serif;
      }
      .selfbox-p {
        font-size: 16px;
        color: #455a64;
        margin-bottom: 30px;
        font-family: 'Roboto-Regilar', Arial, sans-serif;
      }
    }
  }
  .selfbox-body {
    margin-bottom: 35px;
    text-align: center;
    .socials {
      margin-bottom: 27px;
      .social-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        .social-link { 

          .social-icon {
            fill: #73d4c9;
            &:hover {
              fill: #00bfa5;
            }
          }
        }
      }
    }
  }



  .selfbox-nav {
    // background: rgba(9, 176, 157, 0.5);
    width: 380px;
    .selfbox-nav-items {
      
      .selfbox-nav-item {
        
        display: inline-block;
        border-right: 2px solid #73cac3;
        margin-right: -5px;
        &:last-child {
          border: none;
        }

        .selfbox-nav-link {
          background: rgba(9, 176, 157, 0.6);
          display: block;
          padding: 0 32px;
          line-height: 45px;
          height: 45px;
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          font-family: 'Roboto-Medium', Arial, sans-serif;
          &:hover {
            background: #26a69a;
          }
        }
      }
    }
    
  }
}

.footer-welcome {
  @extend %footer;
  max-height: 75px;
  .footer-text {
    color: #fff;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
    font-family: 'Roboto-Light', Arial, sans-serif;
  }
}

