$col: 100% / 12;

#main-work {
  min-height: 100%;
  margin-bottom: -150px;
  
  &:after {
    content: '';
    display: block;
    height: 150px;
  }
}

.work {
  @extend %clearfix;
  &__container-left {
    float: left;
    width: $col*4;
    margin-left: $col*2;
    @include tablet {
      float: none;
      margin: 0;
      padding-left: 24px;
      width: 100%;
      box-sizing: border-box;
    }
  }

&__container-right {
  float: right;
  width: $col*4;
  margin-right: $col*2;
  @include tablet {
    float: none;
      width: 100%;
      padding-left: 24px;
      margin: 0;
      box-sizing: border-box;
    }
}
  
}

.work__title {
  width: 500px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

/* ------ Icons, SVG -------*/



.icon__arrow__up {
  margin-bottom: 150px;
  position: relative;
  text-align: center;
  top: 80px;
}

.icon__arrow__link {

}


.content__title_big {
  @extend %h1;
    font-size: 63px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
  @extend %clearfix;
  position: relative;
  &__right-slides {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 30%;
    width: 100%;
    @include tablet {
      position: static;
      float: none;
      height: 100%;
    }
  }
  &__left-slide_prev {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &__left-slide_next {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
      img {
      width: 100%;
    }
  }
  &__right-works {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 100%;
    width: 100%;
    height: 70%;
    background-color: #efebe0;
    @include tablet {
      position: static;
      padding: 5rem 0 2.5rem;
    }

  }
  &__right-works__items {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    @include tablet {
      position: static;
    }
  }
}

.container__left-slide_prev, .container__left-slide_next {
  border: none;
  cursor: pointer;
  outline: 0;
}

.slide.container__left-slide_prev-arrow, .slide.container__left-slide_next-arrow {
  width: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #fff;
  z-index: 1000;
}

.container__left-slide_prev:after {
  background-image: url("/assets/img/portf_arrow_up.svg");
    

}

.container__left-slide_next:after {
  background-image: url("/assets/img/portf_arrow_down.svg");
    
}

.slide__item {
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  &-img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    height: auto;
    width: 100%;
    display: block;
  }
  &-active {
    top: 0;
  }
}

.tell-about-me__container__content-item {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    background-color: #f0efe9;
    display: none;
  &.active {
    display: inline-block;
  }
}

.tell-about-me__container__left {
  float: left;
  height: 100%;
  background-color: #f0efe9;
  width:50%;
  position: relative;
    @include tablet {
      float: none;
      width: 100%;
    }
}


.tell-about-me__container {
    @extend %clearfix;
    height: 100vh;
    min-height: 650px;
    position: relative;
    background-color: #f0efe9;
    margin-bottom: 60px;
    @include tablet {
      height: auto;
    }

  &__content {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    @include tablet {
      position: static;
    }
  }
  &__left-title {
    @extend %h1;
  }
  &__left-techbox {
    @extend %roboto-medium-16;
    color: $green;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    margin: 40px 0;
  }
  &__left-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 200px;
    height: 45px;
    background-color: $green;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
  }
  &__left-text {
    @extend %roboto-medium-16;
  }
}

.container__right-works__item {
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #efebe0;
  img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    display: block;

    }
  &.active {
      opacity: 1;
      img {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        display: block;
        max-width: 100%;
        height: auto;
    }
    }
}


.tell-about-me__container__right {
  float: left;
  height: 100%;
  width: 50%;
  position: relative;
  background-color: #efebe0;
  @include tablet {
    position: static;
    float: none;
    width: 100%;
    }
  &-slides {
    display: inline-block;
  }
  &__img {
      width: 100%;
      background-color: #efebe0;
    }
}

.blur__bg {
  @extend %clearfix;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 2000px;
    min-width: 1200px;
    background-size: 100% auto;
    background: url("/assets/img/work-bg.png") no-repeat;
}    
@media screen and (max-width: 1600px) {
  .blur__bg {
    
    } 
  }



.tell-about-me {
  @extend %clearfix;
  position: relative;
  overflow: hidden;
  &__form {
    position: relative;
  }
  &__comment {
    @extend %roboto-regular-16;
    line-height: 1.5;
    margin-right: 30px;
    color: #455a64;
    margin-bottom: 20px;
  }
  &__autor {
    @extend %clearfix;
  }
  &__find-me {
    width: 380px;
    height: 445px;
    margin: 60px auto;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.4s);
    position: relative;
    overflow: hidden;
    &__title {
    @extend %h1;
    padding: 35px;
    }
    }
  &__Blur-bg-wraper {
    position: absolute;
    width: 380px;
    height: 445px;
    border-radius: 7px;
    // background-color: rgba(255, 255, 255, 0.4s);
    overflow: hidden;
  }
  &__Blur-bg {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    background-image: url('/assets/img/work-bg.png');
    position: absolute;
  }
    
    &__btn-groop {
      position: relative;
      height: 45px;
    }
    &__btn {
      float: left;
      width: 50%;
      height: 100%;
      border: none;
      @extend %roboto-medium-16;
      color: #fff;
      background-color: #20b5a1;
      border-right: 1px solid #82cfc9;
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: #268a8b;
        border-left: 1px solid #82b7b9;
        &:first-child {
        border: none;
      }
      }
    }

}

.about-me__autor {
  &__container {
  height: 77px;
  width: 77px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  }
  &__description {
    padding-top: 12px;
    float: left;
    color: $green;
    vertical-align: middle;
    &-title {
      @extend %roboto-bold-16;
      line-height: 2;
    }
    &-text {
      @extend %roboto-regular-16;
      
    }
  }

}

.login-input-log, .login-input-pas {
  height: 45px;
  width: 340px;
  margin: 0 0 18px 18px;
  border: none;
  border-radius: 5px;
}

.login-input-text {
  @extend .login-input-log;
  height: 140px;
}

input::-webkit-input-placeholder {
  padding-left: 20px;
  @extend %roboto-regular-16; 
}

textarea::-webkit-input-placeholder {
  padding: 16px 0 0 18px;
  @extend %roboto-regular-16;
}